API_PORT= # Wanted expose port (default :8080)
GIN_MODE= # Wanted gin mode (debug, test, release; default: debug)
SUBPATH= # Wanted Subpath (default: empty string)

ENGINE= # Database engine (example: postgres)
DATABASE_URL= # use it or fill the next variables

# All of this are optional if you provide a DATABASE_URL
DB_USER = 
DB_USER_PASSWORD = 
DB_NAME = 
DB_HOST = 
DB_PORT = 
